body{
    background-color: rgb(207, 232, 255);
}

header{
    text-align: center;
    font-size: 25px;
}



div{
    text-align: center;
}

hr{
    width: 50%;
}

input{
    width: 25%;
     
}

::placeholder{
    text-align: center;
}

select{
    width: 25%;
    text-align: center;
}

